<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="{% static 'javascript/digood_javascript.js' %}"></script>
  </head>
  <body>
    <div>
      <a href="{% url 'home_page' %}">Home Page</a>
    </div>
    <div id="main" class="layout"> <!-- class名は同名を付けられる -->
      <img
        id="img"
        class="img"
        src="{% static 'marks\AImade_illust.png' %}"
      />
      <!-- <div id="comment" class="comment">
        <h2 id="target_title"></h2>
        <textarea id="comment_input"></textarea>
      </div> -->
    </div>
    <div id="mark">
      <button type="button" id="heart">
        <!-- <img src="..\..\blog\media\valentinesday_heart.png" /> -->
        <img src="{% static 'marks/valentinesday_heart.png' %}" width="10" height="10">
      </button>
      <button type="button" id="star">
        <img src="{% static 'marks/body_finger_ok.png' %}" width="10" height="10">
      </button>
    </div>
     <button type="button" id="button">マーク表示切り替え</button>
    <div id="container"></div> <!--JSで生成したHTMLを入れる箱-->
    <script>
      const heartMarkPath = "{% static 'marks/valentinesday_heart.png' %}";
      const starMarkPath = "{% static 'marks/body_finger_ok.png' %}";
    </script>    
  </body>
</html>