.layout {
  position: relative; /*この記述がないと、ウインドウの左上が基準になってしまう。*/
  display: flex;
  width: 100%;
}

.img {
  width: 75%;
}


/* .circle {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 999px;
} */
